.blogContainer{
    height: 93.5vh;
    text-align: center;
    justify-content: center;
}

.blogContainer h1{
    padding-top: 100px;
}

.blogContainer h2{
    padding-top: 100px;
}

.blogContainer article{
    padding-top: 50px;
}
