.contactFormContainer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
    padding: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.contactFormContainer label {
    margin: 0px 20px;
}

.innnerContainer{
    flex-direction: row;
}

.messageContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageContainer label{
    padding-top: 20px;
    padding-bottom: 20px;
}

.messageContainer textarea {
    resize: none;;
    height: 100px;
    width: 100%;
}

.buttonContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

