* {  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --text: #020203;
  --background: #fcfcfd;
  --primary: #b2aacf;
  --secondary: #d8d5e7;
  --accent: #655699;
}

html{
  scroll-behavior: smooth;
}

p{
  color: var(--text);
}

a{
  text-decoration: none;
  color: #655699 ;
  }

.round {
  border-radius: 50%;
  border: 1px black solid;
}

#sectionLine {
  height: 3px;
  width: 60%;
  background-color: #655699;
  margin: 30px 0px 50px;
}

h3 {
  color: #020203;
  text-align: center;
  font-size: 4.5vh;
  padding-top: 15vh;
}

.button {
  text-decoration: none;
  background-color: var(--background);
  color: var(--text);
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #020203;
  transition: all 0.3s; 
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.7vh;
}

.button:hover {
  cursor: pointer;
  background-color: #655699;
  color: var(--background);
}

@media screen and (max-width: 1024px) {
  .button{
    padding: 8px 15px;
  }
}

@media screen and (max-width: 600px) {
  .button{
    padding: 6px 10px;
  }
}

