* {  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --text: #020203;
  --background: #fcfcfd;
  --primary: #b2aacf;
  --secondary: #d8d5e7;
  --accent: #655699;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #655699 ;
  }

.round {
  border-radius: 50%;
  border: 1px black solid;
}

#sectionLine {
  height: 3px;
  width: 60%;
  background-color: #655699;
  margin: 30px 0px 50px;
}

h3 {
  color: #020203;
  text-align: center;
  font-size: 4.5vh;
  padding-top: 15vh;
}

button{
  font-size: 1.7vh;
  font-family: inherit;
  cursor: pointer;
}

.button {
  font-size: 1.7vh;
  font-weight: bold;
  border: 1.6px solid var(--text);
  background-color: var(--background);
  color: var(--text);
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  display: inline-block; 
  overflow: hidden; 
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent); 
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 0 0; 
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.button:hover::before {
  transform: scaleY(1);
}

.button:hover {
  color: white; 
}

@media screen and (max-width: 1024px) {
  .button{
    padding: 8px 15px;
  }
}

@media screen and (max-width: 600px) {
  .button{
    padding: 6px 10px;
  }
}

