.vantaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-color: #FCFCFD;
  color: var(--text);
}

.vantaContainer h2{
  color: var(--background);
}

.homeContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

.homeContainer h2 {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  font-size: 6vh;
}

.socialsContainer img {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.socialsContainer a img:hover,
.round:hover {
  filter: brightness(60%);
}

.round {
  border-radius: 50%;
  border: 1px black solid;
}

@media screen and (max-width: 600px) {

  .socialsContainer img {
    width: 40px;
    height: 40px;
    margin: 20px;
  }
}

.arrowContainer {
  display: flex;
  justify-content: center;
  background-color: #FCFCFD;
  height: auto;
}

.arrow {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: #020203;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms;
}

.arrow:hover {
  cursor: pointer;
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.mainContainer {
  background-color: #FCFCFD;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.textContainer {
  width: 50%;
  border-radius: 15px;
  line-height: 3vh;
}

.textContainer h2 {
  font-size: 2.75em;
  padding-bottom: 30px;
}

.textContainer h4{
  font-size: 2em;
  padding-bottom: 30px;
}

@media screen and (max-width: 1000px){
  .textContainer h2 {
    font-size: 2em;
  }
  
  .textContainer h4{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 760px){
  .textContainer h2 {
    font-size: 1.5em;
  }
  
  .textContainer h4{
    font-size: 1em;
  }
}

@media screen and (max-width: 500px){
  .textContainer h2 {
    font-size: 1.5em;
  }
  
  .textContainer h4{
    font-size: 1em;
  }
}

.buttonContainer {
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.name {
  color: var(--accent);
}

.textContainer p {
  font-size: 1.5em;
  padding-bottom: 8px;
}

.faceShotContainer img {
  width: 35vw;
  max-width: 286px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .aboutContainer {
    flex-direction: column;
    align-items: center;
  }

  .textContainer{
    width: 100%;
  }

  .textContainer p {
    font-size: 0.9rem;
  }

  .faceShotContainer img {
    margin-top: 20px;
  }
}

.portfolioContainer{
  width: 90%;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
}

