.inputFormContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: var(--primary);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px; 
    margin: auto; 
}

.inputFormContainer input,
.inputFormContainer textarea {
    font-family: inherit;
    font-weight: bold;
    width: 90%; 
    padding: 10px;
    margin-bottom: 15px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    outline: none; 
}

.inputFormContainer input:focus,
.inputFormContainer textarea:focus {
    border-color: var(--secondary); 
}

.inputFormContainer textarea {
    resize: vertical; 
    min-height: 100px; 
}

.buttonContainer{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .inputFormContainer {
        width: 90%; 
    }
}
