.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 2rem;
    font-weight: bold;
    background-color: var(--background);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.navigation a {
    margin: 0px 2rem;  
    text-decoration: none;
    color: var(--text);
}

.navigation .navBtn{
    padding: 5px 5px 0px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: var(--background);
    background-color: #655699;
    border-radius: 5px;
    visibility: hidden; 
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    .navigation .navBtn {
        visibility: visible;
        opacity: 1;
    }

    .navigation nav {
       position: fixed;
       top: 0px;
       left: 0px;
       height: 100vh;
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center; 
       gap: 1.5rem;
       background-color: var(--accent);
       transition: transform 0.7s ease-in-out;  
       transform: translate(-100vw);
    }

    .navigation .responsiveNav{
        transform: none;
    }

    nav .navCloseBtn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .navigation a {
        font-size: 1.5rem;
        color: var(--background);
    }

    .navigation a:hover{
        color: var(--text);
    }
}

.navigation a:hover{
    color: var(--accent);
}

.naviagtion{
    text-decoration: underline;
}

.logo {
    padding: 15px;
}

.line{
    width: 100%;
    height: 3px;
    background-color: var(--text);
}