.mainContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer h3{
    padding-top: 10vh;
}

.tableOfContents ul li{
    margin: 0px 1vw;
    font-size: 1.8vh;
    position: relative; 
    display: inline-block; 
}

.tableOfContents a{
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}

.tableOfContents a:hover::after,
.tableOfContents a:focus::after{
    transform: scaleX(1);
}

.tableOfContents a::after{
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: var(--accent); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.subSection{
    height: auto;
    width: 90%;
}


.subSection h2{
  font-size: 3.25vh;
  padding: 50px 0px 20px;
}

.subSection p {
    font-size: 2.2vh;
    line-height: 30px;
}

.subSection img{
    justify-content: center;
    width: 80vw;
    max-width: 800px;
    margin: 30px 0px;
    border: 1.5px solid black;
}

.imageContainer{
    text-align: center;
    justify-content: center;
    padding: 20px 0px
}

.loadingContainer {
    position: fixed;        
    top: 50%;               
    left: 50%;              
    transform: translate(-50%, -50%); 
    z-index: 1000;          
    width: 100px;           
    height: 100px;          
    display: flex;          
    justify-content: center; 
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;    
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  }
