.projectContainer {
  display: grid;
  grid-template-columns: 1fr; /* Single column for vertical alignment */
  gap: 25px;
  padding: 30px;
}

.projectCard {
  background: var(--primary);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-decoration: none;
  color: var(--text);
  overflow: hidden;
}

.projectCard:hover {
  transform: translateY(-5px) scale(1.03);
}

.projectCard h2 {
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 10px;
}

.projectCard p {
  font-size: 1.1em;
  line-height: 1.7;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.skills {
  font-size: 0.85em; 
  font-weight: 500; 
  margin-top: 15px; 
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills p {
  background: var(--secondary); 
  color: var(--accent);
  border-radius: 4px;
  padding: 5px 10px;
  white-space: nowrap;
}

