.mainContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer h3{
    padding-top: 10vh;
}

.tableOfContents ul li{
    display: inline;
    text-decoration: none;
    list-style: none;
    font-size: 2vh;
    font-style: italic;
    margin: 0px 1vw 0px;
}

.tableOfContents ul li:hover{
    text-decoration: underline;
}

.subSection{
    height: auto;
    width: 90%;
    align-items: baseline;
}

.content{
    padding: 15px 0;
}

.subSection h2{
  font-size: 3.25vh;
  padding: 50px 0px 20px;
}

.subSection p {
    font-size: 2.2vh;
    line-height: 30px;
}

.subSection img{
    justify-content: center;
    width: 80vw;
    max-width: 800px;
    margin: 30px 0px;
    border: 1.5px solid black;
}

.imageContainer{
    text-align: center;
    justify-content: center;
    padding: 20px 0px
}
