.projectContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  width: 90%; 
  margin: 0 auto; 
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 300px;
  background-color: var(--primary);
  padding: 20px;
  margin: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
} 

.projectInfo{
  text-align: left;
  line-height: 2vh;
}

@media only screen and (max-width: 600px) {
  .projectContainer{
    flex-direction: column;
  }
}
  
.project p {
  padding-bottom: 20px;
  font-size: 1.7vh;
}
  
.project:hover{
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1.0055);
}

.skills p{
  color: #48494B;
}