.blogContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.blogContainer h3{
    padding-top: 10vh;
}

.blogContainer h2{
    padding-top: 2vh;
    font-size: 2.5vh;
}

.commentSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
