.comment{
    padding-top: 30px;
    width: 50%;
    text-align: left;
    line-height: 2.2vh;
}

.comment p {
    padding-top: 10px;
}

.commentLine{
    height: 2px;
    width: 100%;
    background-color: var(--text);
    margin: 20px 0px;
}

