.commentFormContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: var(--primary);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px; 
    margin: auto; 
}

.commentFormContainer button {
    font-size: 1rem; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
}

.commentFormContainer input,
.commentFormContainer textarea {
    width: 90%; 
    padding: 10px;
    margin-bottom: 15px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    outline: none; 
}

.commentFormContainer input:focus,
.commentFormContainer textarea:focus {
    border-color: var(--secondary); 
}

.commentFormContainer textarea {
    resize: vertical; 
    min-height: 100px; 
}

@media (max-width: 768px) {
    .commentFormContainer {
        width: 90%; 
    }
}
